/* Footer */

.mantra-footer-center {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.mantra-footer-center i {
    font-size: 5rem;
    padding-left: 2rem;
}

.mantra-footer-icon {
    color: black;
}